{
  "log": {
    "_recordingName": "System test: ActorInitSparql/two-pattern query on a TPF entrypoint/without results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "a1cc846959f2c5c60e7183a1e674b5fe",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "predicate",
              "value": "http://dbpedia.org/property/cityServed"
            },
            {
              "name": "object",
              "value": "http://dbpedia.org/resource/UNKNOWN"
            }
          ],
          "url": "https://fragments.dbpedia.org/2016-04/en?predicate=http%3A%2F%2Fdbpedia.org%2Fproperty%2FcityServed&object=http%3A%2F%2Fdbpedia.org%2Fresource%2FUNKNOWN"
        },
        "response": {
          "content": {
            "mimeType": "application/trig;charset=utf-8",
            "size": 3079,
            "text": "@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>.\n@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>.\n@prefix owl: <http://www.w3.org/2002/07/owl#>.\n@prefix skos: <http://www.w3.org/2004/02/skos/core#>.\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>.\n@prefix dc: <http://purl.org/dc/terms/>.\n@prefix dcterms: <http://purl.org/dc/terms/>.\n@prefix dc11: <http://purl.org/dc/elements/1.1/>.\n@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n@prefix geo: <http://www.w3.org/2003/01/ge[...]
