node_modules
.idea
lerna-debug.log
yarn-error.log
**/lib/**/*.js
**/lib/**/*.js.map
**/lib/**/*.d.ts
**/test/**/*.js
**/test/**/*.js.map
**/test/**/*.d.ts
**/bin/**/*.js
**/bin/**/*.js.map
**/bin/**/*.d.ts
**/index.js
**/index.js.map
**/index.d.ts
coverage
documentation
