{
  "log": {
    "_recordingName": "System test: QuerySparql/query/two-pattern query on a TPF entrypoint/with results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6c9c1e005766897cf0387c58ef67c135",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "predicate",
              "value": "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
            },
            {
              "name": "object",
              "value": "http://dbpedia.org/ontology/Airport"
            }
          ],
          "url": "https://fragments.dbpedia.org/2016-04/en?predicate=http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23type&object=http%3A%2F%2Fdbpedia.org%2Fontology%2FAirport"
        },
        "response": {
          "content": {
            "mimeType": "application/trig;charset=utf-8",
            "size": 9289,
            "text": "@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>.\n@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>.\n@prefix owl: <http://www.w3.org/2002/07/owl#>.\n@prefix skos: <http://www.w3.org/2004/02/skos/core#>.\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>.\n@prefix dc: <http://purl.org/dc/terms/>.\n@prefix dcterms: <http://purl.org/dc/terms/>.\n@prefix dc11: <http://purl.org/dc/elements/1.1/>.\n@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n@prefix geo: <http://www.w3.org/2003/01/ge[...]
