{
  "log": {
    "_recordingName": "System test: QuerySparql/query/simple SPO on a TPF entrypoint/with results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f46f3f2960e04ef57cdcfabcbf18c255",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://fragments.dbpedia.org/2016-04/en"
        },
        "response": {
          "content": {
            "mimeType": "application/trig;charset=utf-8",
            "size": 7149,
            "text": "@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>.\n@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>.\n@prefix owl: <http://www.w3.org/2002/07/owl#>.\n@prefix skos: <http://www.w3.org/2004/02/skos/core#>.\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>.\n@prefix dc: <http://purl.org/dc/terms/>.\n@prefix dcterms: <http://purl.org/dc/terms/>.\n@prefix dc11: <http://purl.org/dc/elements/1.1/>.\n@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n@prefix geo: <http://www.w3.org/2003/01/ge[...]
