{
  "log": {
    "_recordingName": "System test: QuerySparql/query/on a remote source/with non-matching query with limit and filter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "27a9358f408b2ca30d869daa38b0b3be",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dbpedia.org/resource/Tractatus_de_Intellectus_Emendatione"
        },
        "response": {
          "content": {
            "mimeType": "application/ld+json; qs=0.9",
            "size": 0
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/ld+json; qs=0.9"
            },
            {
              "name": "tcn",
              "value": "choice"
            },
            {
              "name": "alternates",
              "value": "{\"/data/Tractatus_de_Intellectus_Emendatione.atom\" 0.500000 {type application/atom+xml}}, {\"/data/Tractatus_de_Intellectus_Emendatione.jrdf\" 0.600000 {type application/rdf+json}}, {\"/data/Tractatus_de_Intellectus_Emendatione.jsod\" 0.500000 {type application/odata+json}}, {\"/data/Tra[...]
