{
  "log": {
    "_recordingName": "System test: QuerySparql/foaf ontology broken link [using shortcut key]/returns results with link recovery on [using shortcut key]",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b273d1822ba3c3454b05d5bda0c2d35",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://xmlns.com/foaf/spec/20140114.rdf"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=iso-8859-1",
            "size": 271,
            "text": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.54 (Debian) Server at xmlns.com Port 80</address>\n</body></html>\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=iso-8859-1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 102,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
